<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!--

  Checkstyle configuration that checks the sun coding conventions from:

    - the Java Language Specification at
      http://java.sun.com/docs/books/jls/second_edition/html/index.html

    - the Sun Code Conventions at http://java.sun.com/docs/codeconv/

    - the Javadoc guidelines at
      http://java.sun.com/j2se/javadoc/writingdoccomments/index.html

    - the JDK Api documentation http://java.sun.com/j2se/docs/api/index.html

    - some best practices

  Checkstyle is very configurable. Be sure to read the documentation at
  http://checkstyle.sf.net (or in your downloaded distribution).

  Most Checks are configurable, be sure to consult the documentation.

  To completely disable a check, just comment it out or delete it from the file.

  Finally, it is worth reading the documentation.

-->

<module name="Checker">
    <module name="SuppressionFilter">
        <property name="file" value="${samedir}checkstyle-suppressions.xml"/>
    </module>
    <!--
        If you set the basedir property below, then all reported file
        names will be relative to the specified directory. See
        http://checkstyle.sourceforge.net/5.x/config.html#Checker

        <property name="basedir" value="${basedir}"/>
    -->

    <!-- Checks that each Java package has a Javadoc file used for commenting. -->
    <!-- See http://checkstyle.sf.net/config_javadoc.html#JavadocPackage       -->

    <!-- 允许不写javadoc -->
    <!-- <module name="JavadocPackage">
      <property name="allowLegacy" value="true"/>
    </module> -->

    <!-- Checks whether files end with a new line.                        -->
    <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf" />
    </module>

    <!-- Checks that property files contain the same keys.         -->
    <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
    <module name="Translation"/>

    <module name="FileLength"/>

    <!-- Following interprets the header file as regular expressions. -->
    <!-- <module name="RegexpHeader"/>                                -->

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <!-- \s matches whitespace character, $ matches end of line. -->
        <property name="format" value="\s+$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="TreeWalker">
        <!-- 允许用注释屏蔽代码规则检查。 -->
        <module name="SuppressionCommentFilter"/>
        <module name="SuppressWithNearbyCommentFilter">
            <property name="commentFormat" value="CHECKSTYLE IGNORE (\w+) FOR NEXT (\d+) LINES"/>
            <property name="checkFormat" value="$1"/>
            <property name="influenceFormat" value="$2"/>
        </module>

        <!-- TAB键长度 -->
        <property name="tabWidth" value="4"/>

        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <!-- Checks for Javadoc comments.                     -->
        <!-- See http://checkstyle.sf.net/config_javadoc.html -->

        <!-- 允许不写javadoc -->
        <!-- <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/> -->


        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName">
            <!-- 支持中文名。原默认值为：^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$</tt> -->
            <property name="format" value="^[A-Z\u0080-\uFFFF][A-Z0-9\u0080-\uFFFF]*(_[A-Z0-9\u0080-\uFFFF]+)*$"/>
        </module>
        <module name="LocalFinalVariableName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="LocalVariableName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="MemberName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="MethodName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="PackageName">
            <!-- 支持中文名。原默认值为：^[a-z]+(\.[a-zA-Z_][a-zA-Z0-9_]*)*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF]+(\.[a-zA-Z_\u0080-\uFFFF][a-zA-Z0-9_\u0080-\uFFFF]*)*$"/>
        </module>
        <module name="ParameterName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="StaticVariableName">
            <!-- 支持中文名。原默认值为：^[a-z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[a-z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>
        <module name="TypeName">
            <!-- 支持中文名。原默认值为：^[A-Z][a-zA-Z0-9]*$ -->
            <property name="format" value="^[A-Z\u0080-\uFFFF][a-zA-Z0-9\u0080-\uFFFF]*$"/>
        </module>


        <!-- Checks for Headers                                -->
        <!-- See http://checkstyle.sf.net/config_header.html   -->
        <!-- <module name="Header">                            -->
            <!-- The follow property value demonstrates the ability     -->
            <!-- to have access to ANT properties. In this case it uses -->
            <!-- the ${basedir} property to allow Checkstyle to be run  -->
            <!-- from any directory within a project. See property      -->
            <!-- expansion,                                             -->
            <!-- http://checkstyle.sf.net/config.html#properties        -->
            <!-- <property                                              -->
            <!--     name="headerFile"                                  -->
            <!--     value="${basedir}/java.header"/>                   -->
        <!-- </module> -->


        <!-- Checks for imports                              -->
        <!-- See http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/> <!-- defaults to sun.* packages -->
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>


        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <!-- 最大行长度设置为175，正好为宽屏全屏的长度，一个TAB键为4个空格长度 -->
        <module name="LineLength">
            <property name="max" value="175"/>
            <property name="tabWidth" value="4"/>
        </module>
        <module name="MethodLength"/>
        <!-- 不限参数个数。 -->
        <!-- <module name="ParameterNumber"/> -->


        <!-- Checks for whitespace                               -->
        <!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <!-- for-each循环中的冒号两边要有空格 -->
        <module name="WhitespaceAround">
            <property name="ignoreEnhancedForColon" value="false"/>
        </module>


        <!-- Modifier Checks                                    -->
        <!-- See http://checkstyle.sf.net/config_modifiers.html -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>


        <!-- Checks for blocks. You know, those {}'s         -->
        <!-- See http://checkstyle.sf.net/config_blocks.html -->
        <!-- 允许内嵌代码块。 -->
        <!-- <module name="AvoidNestedBlocks"/> -->
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <!-- if-else, try-catch-finally的右大括号应另起一行 -->
        <module name="RightCurly"/>


        <!-- Checks for common coding problems               -->
        <!-- See http://checkstyle.sf.net/config_coding.html -->
        <!-- 允许内嵌条件，例如 return a == null ? null : a -->
        <!-- <module name="AvoidInlineConditionals"/> -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <!-- 允许参数名与字段名相同，但不允许变量名与字段名相同 -->
        <module name="HiddenField">
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <!-- 由于界面程序（如Vaadin）会经常使用到数字常量，因此屏蔽了该数字常量检查规则 -->
        <!-- module name="MagicNumber"/-->
        <module name="MissingSwitchDefault"/>
        <!-- 允许定义未检查的异常 -->
        <!-- 6.2版本删除了该模块。http://eclipse-cs.sourceforge.net/#!/releasenotes -->
        <!-- module name="RedundantThrows">
            <property name="allowUnchecked" value="true"/>
        </module-->
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>

        <!-- Checks for class design                         -->
        <!-- See http://checkstyle.sf.net/config_design.html -->
        <!-- 不检查class design -->
        <!-- <module name="DesignForExtension"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/> -->


        <!-- Miscellaneous other checks.                   -->
        <!-- See http://checkstyle.sf.net/config_misc.html -->
        <module name="ArrayTypeStyle"/>
        <!-- 允许参数不定义为final -->
        <!-- <module name="FinalParameters"/> -->
        <!-- todo不作为警告或错误 -->
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>
        <module name="UpperEll"/>

        <!-- 代码缩进 -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="4"/>
            <property name="lineWrappingIndentation" value="8"/>
        </module>

        <!-- 禁用System.err/out.println -->
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.out\.println"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.err\.println"/>
        </module>

        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>

        <module name="Regexp">
            <property name="format" value="\r?\n\r?\n\r?\n"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="不允许连续两个空行"/>
        </module>

        <module name="Regexp">
            <property name="format" value="\r?\n\r?\n\Z"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="文件应以一个且仅一个空行结尾"/>
        </module>

        <!--module name="Regexp">
            <property name="format" value="\r?\n\r?\n\s*\}(\r?\n|.)*\}"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="右大括号前请勿留空行（仅文件尾的右大括号前允许有空行）"/>
        </module-->
    </module>

</module>
